.see-more-preview {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;

    .preview {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        margin-bottom: 60px;
    }
}