.description-page {
    font-family: 'Rubik', sans-serif;

    .title {
        h1 {
            font-size: 25px;
            color: #5F84B1;
            margin-left: 70px;
            margin-top: 100px;
        }
    }

    .buttons-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-top: 10rem;
        margin-bottom: 50px;
        margin-right: 100px;

        
        .buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .back-button-custom, .btn-back {
                margin-right: 20px;
            }
        }
    }
};