.description-page {
    font-family: 'Rubik', sans-serif;

    .back-button-container { 
        margin-left: 56rem;
        position: absolute;
    }
    
    .green-button-container {
        margin-left: 65rem;
        margin-bottom: 50px;
    }
};