$bg-navbar: #39A8E0;
$bg-body: #EEF9FF;
$primary-btn:#FE6136;
$primary-blue: #009BFF;
$btn-green: #17D269;
$btn-back: #5F84B1;
$color-footer: #274596;
$table-blue: #D6EEFB;
$table-grey: #DEE7EC;


.menu {
    width: 100%;
    height: 100%;
    background-color: $bg-body;

}