.order-page {
    font-family: 'Rubik', sans-serif;

    hr {
        border: 1px solid #009BFF;
        margin-top: 50px;
    }

    .order-page-body {
        background-color: #EEF9FF;
        width: 100%;
        height: 100%;

        .title {
            h1 {
                font-size: 25px;
                color: #5F84B1;
                padding-top: 100px;
            }
        }

        
        
        .buttons-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            padding-bottom: 50px;
            
            .buttons {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .back-button-custom, .btn-back {
                    margin-right: 20px;
                }
            }
        }
    }
}