$bg-navbar: #39A8E0;
$bg-body: #EEF9FF;
$primary-btn:#FE6136;
$primary-blue: #009BFF;
$btn-green: #17D269;
$btn-back: #5F84B1;
$color-footer: #274596;
$table-blue: #D6EEFB;
$table-grey: #DEE7EC;
$btn-shadow: 3px 3px 20px $bg-navbar;

.form-inputs {
    width: 100%;
    height: 100%;

    .button-search-holder {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    
    .width-input, .height-input, .radius-input {
        border-radius: 20px;
        border: solid 2px $color-footer;
        width: 220px; 
        height: 50px;
        border-color: $color-footer;
        margin-left: 15px;
        margin-right: 15px;
            &:hover {
                border-color: $bg-navbar;
                cursor: pointer;
                &::placeholder {
                    color: $bg-navbar;
                }
            }
            &:focus {
                box-shadow: $btn-shadow;
            }

            .option {
                color: $color-footer !important; 
                font-size: 16px !important;
                &:hover {
                    background-color: $table-grey !important;
                }
            }

            // @media screen and ( max-width: 414px ) {
            //     margin-left: 6rem;
            // }
            
            // @media screen and ( max-width: 300px ) {
            //     margin-left: 2.5rem;
            // }
            // @media screen and ( min-width: 301px ) and ( max-width: 350px ) {
            //     margin-left: 2.8rem;
            // }
    }
};