.search-result-page {
    font-family: 'Rubik', sans-serif;

    .search-page-body {
        background-color: #EEF9FF;
        width: 100%;
        height: 500px;

        
        .title {
            h1 {
                font-size: 25px;
                color: #5F84B1;
                margin-left: 70px;
                padding-top: 100px;
            }
        }


        .back-button-container {
            margin-left: 66rem;
            margin-bottom: 50px;
        }
    }
};
