
$header-color: linear-gradient(#39A8E0, #193C79);

.header {
    width: 100%;
    height: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: $header-color;
    @media screen and ( max-width: 576px) {
        height: 1100px;
    }
}