
    .carousel {
        width: 100%;
        height: 530px;

        .image-holder-1 {
            width: 100%;
            height: 530px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .img1 {
                width: 60%;
                height: 90%;
                @media screen and ( max-width: 768px ) {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .image-holder-2 {
            width: 100%;
            height: 530px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .img2 {
                width: 60%;
                height: 85%;
                @media screen and ( max-width: 768px ) {
                    width: 100%;
                    height: 100%;
                }
            }
        }        
        
        .image-holder-3 {
            width: 100%;
            height: 530px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .img3 {
                width: 60%;
                height: 90%;
                @media screen and ( max-width: 768px ) {
                    width: 100%;
                    height: 100%;
                }
            }
        }        
    }

